@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; font-display: swap; src: url("src/Inter-Regular.woff2") format("woff2"); }
@font-face { font-family: "Inter"; font-style: normal; font-weight: 600; font-display: swap; src: url("src/InterDisplay-SemiBold.woff2") format("woff2"); }

*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding:0
}

html {
    font-family: Inter, -apple-system, HelveticaNeue, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
}


.screen-centered {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.screen-message {
    text-align: center;
}

.loader {
    display: block;
    width: 20px;
    height: 20px;
    border: solid 4px #ffffff;
    border-left-color: rgba(0, 0, 0, 0);
    border-collapse: separate;
    border-radius: 50%;
    animation: spin .5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body {
    background-color: #f5f5f5;
    color: #1d1d1f;
    background-position: center;
    background-size: cover;
    min-height: 100svh;
    padding-bottom: 3rem;
}

.header,.section {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.last-updated {
    background-color: #1d1d1f;
    color: #ffffff;
}

.pulse {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
}

.live {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #4bc862;
    border-radius: 50%;
}

.last-updated-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .75em;
    font-size: 0.9rem;
    padding: .5em 1em;
    text-align: center;
}

.tournament-name {
    font-size: 2rem;
    margin-top: 1.25em;
    margin-bottom: .75em;
    text-align: center;
}

.tournament-description {
    margin-bottom: 1em;
}

.section-title {
    font-size: 1.25rem;
    margin-top: 1em;
    margin-bottom: .5em;
}

.courts-grid {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.court-card {
    background-color: #d2d1d1;
    border-radius: 12px;
    border: solid 1px #d2d1d1;
}

.court-card.active {
    background-color: #ffffff;
}

.court-card-content {
    padding: 16px;
}

.court-name {
    font-weight: 600;
}

.empty-court {
    text-align: center;
    margin-bottom: 1rem;
}

.court-card-header {
    display: flex;
    justify-content: space-between;
}

.court-timer {
    font-size: .9rem;
}

.match-name {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.vs {
    color: #606060;
}

.message-banner {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: .75em;
    background-color: #f6f1e1;
    border-radius: 12px;
    border: solid 1px #d1b298;
    padding: 1rem;
}

.message-banner svg {
    flex-shrink: 0;
}

.alert {
    line-height: 1.5;
}

.upcoming-list {
    margin-top: 0;
}

.upcoming-row {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1em;
    border-bottom: solid 1px #86868b;
}

.upcoming-index {
    font-weight: 600;
}

.upcoming-group {
    font-size: 1rem;
}

.small {
    color: #979797;
    text-align: center;
    font-size: .9em;
    margin-top: 3em;
}